extends ../views/layout

block content
  h1 
    span.title !{globals.myLogoTitle}
  .content--logo
    .chart.grabbable(id="chart")
    .aside
      div 
        .toggle-editor 
          label(for="toggle-editor") 
            input(type="checkbox" name="toggle-editor" id="toggle-editor")
            span Alege
      .side-pannel
        .control.control-group.radios.editor 
          each style in globals.radioList1
            div 
              input(type="radio" name=`${style.name}` id=`${style.id}` value=`${style.value}`)
              label(for=`${style.id}`) #{style.label}
        .control.control-group.radios.editor 
          each style in globals.radioList2
            div 
              input(type="radio" name=`${style.name}` id=`${style.id}` value=`${style.value}`)
              label(for=`${style.id}`) #{style.label}
        .control.control-group.checkboxes.editor
          div 
            input(type="checkbox" name="toggle-map" id="toggle-map")
            label(for="toggle-map") Harta
          div 
            input(type="checkbox" name="toggle-pack" id="toggle-pack")
            label(for="toggle-pack") Pack
          div 
            input(type="checkbox" name="toggle-pack-background" id="toggle-pack-background")
            label(for="toggle-pack-background") Icon
        .control.control-group.slider.editor 
          label(for="stroke")
            != "Contur "
          span(id="stroke-value") 0.5
          != "px"
          input.slider__range(id="stroke" type="range" min="0" max="2.5" step="0.5" value=0.5)
    .editor(id="fonts")
      ul.fonts
        each font in globals.fontsList
          li.font
            span(id=`${font.name}`).font__text #{font.text}
