doctype html
html
  head
    title= `${globals.title || 'Home'} | ${globals.siteName}`
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="icons/icon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="icons/icon.ico" type="image/x-icon")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Data Visualization România

    meta(property="og:title" content="Data Visualization România")
    meta(property="og:type" content="article")
    meta(property="og:url" content="https://datavizromania.org")
    meta(property="og:description" content="Un spațiu de informare și colaborare pentru pasionații de Data Visualization din România")
   
    meta(property="article:publisher" content="https://datavizromania.org")
    meta(property="article:section" content="Graphic")
    meta(property="article:tag" content="Graphic")
    meta(property="og:image" content="https://datavizromania.org/img/logo_page_1200_630.png")
   
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:image" content="https://datavizromania.org/img/logo_page_1200_630.png")
   
    meta(property="twitter:site" content="@DatavizRomania")
  body
    
    .wrapper
      block header
        header.top
          nav.nav
            .nav__section.nav__section--logo
              a.nav__link.nav__link--logo(href="#")
                != globals.icon('logo_old2')
            div(id="navbar-collapse")
              .nav__section.nav__section--menu
                each item in globals.menu
                  li.nav__item
                    a.nav__link(href=item.slug, class=(''))
                      != globals.icon(item.icon)
                      span #{item.title}
                li.nav__item: a.nav__link(href="#", class=(''))
                  != globals.icon('cauta')
                  span Căutare
                li.nav__item: a.nav__link(href="#") Log In
            .nav__section.nav__section--collapse
              li.nav__item
                a.nav__link.nav__link--toggler(id="navbar-toggler" href="javascript:void(0);")
                  i.fa.fa-bars
      
      button(id="top-btn")
        a(href="#top" style="color: white" aria-label="Top of the page") ˄
    
      .centered
        a(id="top" name="top" aria-label="Top page anchor")
        
        if globals.myTitle
          h1 
            span.title !{globals.myTitle}
        .content
          block content
        .push 

    block footer
      footer.footer
        nav.nav
          .nav__section.nav__section--pages
            li.nav__item
              a.nav__link(href="https://www.facebook.com/datavizromania", target="_blank", title="Facebook" class=(''))
                i.fa.fa-facebook
                //- span Facebook
            li.nav__item
              a.nav__link(href="https://github.com/Data-Visualization-Romania/", target="_blank", title="GitHub" class=(''))
                i.fa.fa-github
                //- span GitHub
            li.nav__item
              a.nav__link(href="https://twitter.com/DatavizRomania/", target="_blank", title="Twitter" class=(''))
                i.fa.fa-twitter
                //- span Twitter
            li.nav__item
              a.nav__link(href="https://www.instagram.com/datavizromania/", target="_blank", title="Instagram" class=(''))
                i.fa.fa-instagram
                //- span Instagram
            li.nav__item
              a.nav__link(href="https://datavizromania.slack.com/", target="_blank", title="Slack" class=(''))
                i.fa.fa-slack
                //- span Slack
            li.nav__item
              a.nav__link(href="https://www.youtube.com/channel/UCZveCpfAPymCzF49nslcPYQ", target="_blank", title="Twitch" class=(''))
                i.fa.fa-twitch
                //- span Twitch
            li.nav__item
              a.nav__link(href="mailto:speakup@datavizromania.org", target="_blank", title="Mail" class=(''))
                i.fa.fa-at
                //- span Mail
          li.nav__item.nav__item--copyright
            a.nav__link(href="#", class=(''))
              span Copyright &copy;#{new Date().getFullYear()} Dataviz România
  
    link(href= "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel='stylesheet')
    block scripts


